.stackContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6a1fff;
  padding: 2rem;
}

.stackContainer h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Work Sans', Sans-serif;
}

.stackRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.stackRow img {
  margin: 0.5rem;
  transition: transform 0.3s;
  padding: 20px;
  cursor: pointer;
  width: 80px;
  height: auto;
}

.stackRow img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ffffff;
  color: #6a1fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 94%;
  left: 67%;
  margin-left: -60px;
  opacity: 0;
  font-family: 'Work Sans', Sans-serif;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .stackContainer h1 {
    font-size: 1.5rem;
  }

  .stackRow img {
    width: 50px;
    padding: 0px;
  }
}
